<h1>Sign Up</h1>

<% if @user.errors %>
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @user do |f| %>
  <div>
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div><br>
  <div>
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div><br>
  <div>
    <%= f.label :email %><br>
    <%= f.email_field :email %>
  </div><br>
  <div>
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div><br>
  <div>
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %>
  </div><br>
  <%= f.submit "Sign Up" %>
<% end %>
