<h1>All Posts</h1>

<%= form_tag(posts_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search Posts" %>
<%= submit_tag "Search" %>
<% end %>

<% if @posts.present? %>
  <%= render @posts %>
<% else %>
  <p>There are no posts containing the term(s) <%= params[:search] %>.</p>
<% end %><br>
<br>

<% if flash[:notice] %>
  <%= flash[:notice] %>
<% elsif flash[:alert] %>
  <%= flash[:alert] %>
<% end %><br>

<% @posts.each do |post| %>
  <%= link_to post.title.titleize, post_path(post) %>
  <hr>
<% end %>

<%= paginate @posts %>
